<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Aula_05_funcionario_SemHeranca/src/Gerente.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Gerente"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Aula_05_funcionario_SemHeranca"/>
</launchConfiguration>
